{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
<h2 class="card-title text-center mb-4" style="color: #1a1a1a;">🤗 Únete nuestra Comunidad 🤗</h2>
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4 shadow-sm rounded" style="background-color: #faf3e0;">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nombre" class="form-label" style="color: #1a1a1a;">Nombre:</label>
                            <input type="text" class="form-control form-control-lg" id="nombre" name="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="nacimiento" class="form-label" style="color: #1a1a1a;">Fecha de nacimiento:</label>
                            <input type="date" class="form-control form-control-lg" id="nacimiento" name="nacimiento">
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label" style="color: #1a1a1a;">Teléfono:</label>
                            <input type="tel" class="form-control form-control-lg" id="telefono" name="telefono">
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label" style="color: #1a1a1a;">Correo:</label>
                            <input type="email" class="form-control form-control-lg" id="correo" name="correo">
                        </div>
                        <div class="mb-3">
                            <label for="usuario" class="form-label" style="color: #1a1a1a;">Usuario:</label>
                            <input type="text" class="form-control form-control-lg" id="usuario" name="usuario">
                        </div>
                        <div class="mb-3">
                            <label for="contraseña" class="form-label" style="color: #1a1a1a;">Contraseña:</label>
                            <input type="password" class="form-control form-control-lg" id="contraseña" name="contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Regístrate</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="{% static 'core/img/registrarusuario1.webp' %}" class="img-fluid rounded" alt="Imagen derecha">
            </div>
        </div>
    </div>
{% endblock contenido %}