{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    <h1 style="color: #1a1a1a;">🤯 Dar de baja un Servicio 🤯</h1>
{% endblock titulo %}

{% block contenido %}

    <p class="fs-5 fst-italic">¿Quieres dar de baja el servicio "{{ servicio.nombre }}</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning"> Confirmar </button>
    </form>
    <div>
        <button style="margin-top: 20px; background-color: #f0e6d2; border: none; padding: 10px 20px; border-radius: 5px;">
            <a href="{% url 'servicios:home' %}" style="text-decoration: none; color: black;">Volver a Servicios</a>
        </button>
    </div>

{% endblock contenido %}