{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
  <h1 style="color: #1a1a1a;">🌸Nuestros Servicios🌸</h1>
  <br> 
{% endblock titulo %}
{% block contenido %}
    <div class="container mt-4">
        <ul>
            <li> Nombre: {{servicio.nombre}} </li>
            <li> Descripcion: {{servicio.descripcion}}</li>
            <li> Valor (CLP): {{servicio.valor}}</li>
        </ul>


        <div>
          <button style="margin-top: 20px; background-color: #f0e6d2; border: none; padding: 10px 20px; border-radius: 5px;">
              <a href="{% url 'servicios:home' %}" style="text-decoration: none; color: black;">Volver a Servicios</a>
          </button>
      </div>
{% endblock contenido %}
