{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
  <h1 style="color: #1a1a1a;">🌸Nuestros Servicios🌸</h1>
  <br> 
{% endblock titulo %}
{% block contenido %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'core/img/servicios1.webp' %}" class="img-fluid rounded" alt="Servicio Imagen">
            </div>
            <div class="col-md-6">
                <div class="card p-4 shadow-sm rounded" style="background-color: #faf3e0;">
                    <ul class="list-unstyled">
                        <li style="color: black;">Nombre: {{ servicio.nombre }}</li>
                        <br>
                        <li style="color: black;">Descripción: {{ servicio.descripcion }}</li>
                        <br>
                        <li style="color: black;">Valor (CLP): {{ servicio.valor }}</li>
                        <br>
                        {% if servicio.cantidad %}
                            <li style="color: black;">Cantidad: {{ servicio.cantidad }}</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="text-center mt-3">
                    <button style="background-color: #f0e6d2; border: none; padding: 10px 20px; border-radius: 5px;">
                        <a href="{% url 'servicios:home' %}" style="text-decoration: none; color: black;">Volver a Servicios</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}