{% extends 'core/base.html' %}

{% block titulo %}
    <h1 style="color: #1a1a1a;">🌸Programa Mi Mejor Versión🌸</h1>        
{% endblock titulo %}

{% block contenido %}
    <h1> Nuestros Servicios </h1>
    <ul>
        {% for servicio in servicios %}
            <li> {{servicio}} </li>
        {% endfor %}
    </ul>
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-md-8">
                <div class="card shadow p-4 rounded text-center">
                    <h2 class="card-title mb-4" style="color: #1a1a1a;">"¡Únete a nuestra comunidad y comienza tu viaje hacia tu mejor versión!"</h2>
                    <div class="custom-text lead mb-4" style="color: #495057;">
                        <p>"Cada pequeño paso te acerca más a la</p>
                        <p>mujer extraordinaria que estás destinada a ser.</p>
                        <p>¡No esperes más para empezar!"</p>
                    </div>
                    <a href="{% url 'Comunidad:registrar_usuario' %}" class="btn btn-primary btn-lg">Regístrate</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

