{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    <h2 class="card-title text-center mb-4" style="color: #1a1a1a;"> 😊 Que bueno que estés aquí 😊</h2>
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4 shadow-sm rounded" style="background-color: #faf3e0;">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_username" class="form-label" style="color: #000;">Nombre de Usuario</label>
                            <input type="text" class="form-control" id="id_username" name="username" style="background-color: #fff; color: #000;">
                        </div>
                        <div class="mb-3">
                            <label for="id_password" class="form-label" style="color: #000;">Contraseña</label>
                            <input type="password" class="form-control" id="id_password" name="password" style="background-color: #fff; color: #000;">
                        </div>
                        <input type="hidden" name="next" value="{% url "servicios:home" %}">
                        <button type="submit" class="btn btn-primary btn-lg" style="background-color: #007bff; border-color: #007bff; color: #fff;">Iniciar Sesión</button>
                        <a href="{% url 'core:home' %}" class="btn btn-secondary btn-lg" style="background-color: #6c757d; border-color: #6c757d; color: #fff;">Cancelar</a>
                    </form>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <img src="{% static 'core/img/login.webp' %}" class="img-fluid rounded" alt="Imagen">
            </div>
        </div>
    </div>
{% endblock contenido %}

